.body{
	background-image: url('package/img/table.jpg');
	background-size: cover;
	border-style: double;
	border-width: 5px;
	border-color: black;
}
.p1{
	color: black;
	top: 5%;
	left: 5%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid gray;
	font-family: 'Microsoft JhengHei';
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 2;
}
.p2{
	color: black;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid gray;
	font-family: 'Microsoft JhengHei';
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 2;
}
.q{
	color: black;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid gray;
	font-family: 'Microsoft JhengHei';
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 2;
}
.i{
	color: black;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid gray;
	font-family: 'Microsoft JhengHei';
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 2;
}
.p{
	position: absolute;
	top: 30%;
	color: black;
	left: 40%;
	font-family: 'Microsoft JhengHei';
	font-size: 3.5rem;
	font-weight: bold;
	text-shadow: 2px 2px 5px gray;
}
.pic{
	position: absolute;
	border-radius: 10px;
	border:0;
	bottom: 460px;
	padding:3px 8px;
	font-size: 1.5rem;
	color: #F0F0F0;
	font-family: 'Microsoft JhengHei';
	font-weight: bold;
	background-color: gray;
}
.submit{
	position: fixed;
	right: 15%;
	bottom: 10%;
	border-radius: 10px;
	border:0;
	padding:3px 8px;
	font-size: 1.5rem;
	color: #F0F0F0;
	font-family: 'Microsoft JhengHei';
	font-weight: bold;
	background-color: gray;
}
.button{
	position: fixed;
	right: 8%;
	bottom: 10%;
	border-radius: 10px;
	border:0;
	padding:3px 8px;
	font-size: 1.5rem;
	color: #F0F0F0;
	font-family: 'Microsoft JhengHei';
	font-weight: bold;
	background-color: gray;
}
.button:hover{
	background-color: #5B5B5B;
	color: white;
}
.submit:hover{
	background-color: #5B5B5B;
	color: white;
}