.body{
	background-image: url('package/img/table.jpg');
	background-size: cover;
	border-style: double;
	border-width: 5px;
	border-color: black;
}

.title{
	position: fixed;
	top: 1%;
	color: black;
	left: 8%;
	font-family: 'Microsoft JhengHei';
	font-size: 3.5rem;
	font-weight: bold;
	text-shadow: 2px 2px 5px gray;
	line-height: 2.5;
}